<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="text-center">
<div class="container">
  <div class="row" style="margin-top:30px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        <div class="form-floating">
          <input class="form-control" id="floatingInput" #username placeholder="Benutzername" value="user">>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" #password placeholder="Passwort" value="test">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" (click)="login(username.value, password.value)" style="margin-top: 30px">Einloggen</button>
      </main>
  </div>
  <div class="col-md-4"></div>
</div>
</div>
</body>
