<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
</html>
<div class="container">
  <main>
    <div class="py-5 text-center">
     <h2>Profil</h2>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6 col-lg-8">
        <form class="needs-validation" novalidate="">
          <div *ngIf="currentEmployee" class="row g-3">

            <div class="col-sm-6">
              <label for="txtfname" class="form-label">Vorname</label>

              <input type="text" class="form-control" id="txtfname" name="txtfname" placeholder="Vorname" value="{{currentEmployee.firstName}}" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="txtlname" class="form-label">Nachname</label>
              <input type="text" class="form-control" id="txtlname" name="txtlname" placeholder="Nachname" value="{{currentEmployee.lastName}}" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="txtstreet" class="form-label">Addresse</label>
              <input type="text" class="form-control" id="txtstreet" name="txtstreet" placeholder="Straße + Hausnummer" value="{{currentEmployee.street}}" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-md-3">
              <label for="txtpostcode" class="form-label">PLZ</label>
              <input type="text" class="form-control" id="txtpostcode" name="txtpostcode" placeholder="PLZ" maxlength="5" value="{{currentEmployee.postcode}}" required>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>

            <div class="col-md-3">
              <label for="txtlocation" class="form-label">Stadt</label>
              <input type="text" class="form-control" id="txtlocation" name="txtlocation" placeholder="Stadt" value="{{currentEmployee.city}}" required>
              <div class="invalid-feedback">
                City required.
              </div>
            </div>

            <div class="col-md-3">
              <label for="txtphone" class="form-label">Telefonnummer</label>
              <input type="text" class="form-control" id="txtphone" name="txtphone" placeholder="Telefonnummer" value="{{currentEmployee.phone}}" required>
              <div class="invalid-feedback">
                City required.
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 30px">
            <div *ngIf="employeeProfileMode == 0">
              <input class="w-60 btn btn-primary btn-md" type="button" id="btnEdit" name="btnEdit" value="Bearbeiten" (click)="edit()" >
              <input class="w-60 btn btn-primary btn-md" type="button" id="btnDelete" name="btnDelete" value="Löschen" (click)="deleteEmployee()" style="margin-left: 10px">
              <input class="w-45 btn btn-primary btn-md" type="button" id="btnBack" name="btnBack" value="Zurück" routerLink="/employees" style="float: right">
            </div>
            <div *ngIf="employeeProfileMode == 1">
              <input class="w-60 btn btn-primary btn-md" type="button" id="btnSaveEdit" name="btnSaveEdit" value="Speichern" (click)="updateEmployee()">
              <input class="w-45 btn btn-primary btn-md" type="button" id="btnAbortEdit" name="btnAbortEdit" value="Abbrechen" (click)="abortEdit()" style="float: right">
            </div>
            <div *ngIf="employeeProfileMode == 2">
              <input class="w-60 btn btn-primary btn-md" type="button" id="btnSaveCreate" name="btnSaveCreate" value="Erstellen" (click)="createEmployee()">
              <input class="w-45 btn btn-primary btn-md" type="button" id="btnAbortCreate" name="btnAbortCreate" value="Abbrechen" (click)="abortCreate()" style="float: right">
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
