<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<div class="row" style="margin:20px">
  <div class="col-md-2">
    <a  class="btn btn-outline-primary" routerLink="/login">Logout</a>
  </div>
  <div class="col-md-8" style="text-align: center">
    <h1>Mitarbeiterübersicht</h1>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="table-responsive col-sm-8">
    <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nachname</th>
          <th>Vorname</th>
          <th>PLZ</th>
          <th>Ort</th>
          <th>Straße und HausNr.</th>
          <th>Telefonnummer</th>
          <th ><a class="btn btn-outline-primary" style="font-size: 8pt" routerLink="/employee-create/">Add</a></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of employees$ | async">
            <td>{{e.id}}</td>
            <td>{{e.lastName}}</td>
            <td>{{e.firstName}}</td>
            <td>{{e.postcode}}</td>
            <td>{{e.city}}</td>
            <td>{{e.street}}</td>
            <td>{{e.phone}}</td>
            <td><a class="btn btn-outline-primary" style="font-size: 8pt" routerLink="/employee-profile/{{e.id}}">Edit</a></td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
